.active-link {
  font-weight: semibold;
  color: orange !important; // dark purple, or use a Tailwind class if preferred
}

.custom-sidenav {
  width: 200px !important; // or whatever value you want
}
