<mat-toolbar color="primary">
  <!-- Sidebar Toggle -->
  @if (activeNavItem()?.sideNavItems?.length) {
  <button mat-icon-button (click)="sidebarOpen.set(!sidebarOpen())">
    <mat-icon>menu</mat-icon>
  </button>
  }

  <!-- Desktop Nav Items -->
  <div class="hidden md:flex gap-6 items-center justify-center w-full">
    @for (item of navItems; track item.route) {
    <a
      [routerLink]="item.route"
      routerLinkActive="active-link"
      class="hover:text-yellow-500 text-md transition flex items-center gap-1"
    >
      <span>{{ item.label }}</span>
      <!-- <mat-icon>{{ item.icon }}</mat-icon> -->
    </a>
    }
  </div>

  <!-- Mobile Dropdown -->
  <div class="md:hidden relative">
    <button mat-button (click)="showMobileMenu.set(!showMobileMenu())">
      <mat-icon>arrow_drop_down</mat-icon>
      <span>صفحات</span>
    </button>
    @if (showMobileMenu()) {
    <div
      class="absolute right-0 mt-2 w-48 bg-white text-black rounded shadow-md z-50"
    >
      @for (item of navItems; track item.route) {
      <a
        [routerLink]="item.route"
        class="block px-4 py-2 hover:bg-gray-100 text-md flex items-center gap-1"
      >
        <mat-icon>{{ item.icon }}</mat-icon>
        <span>{{ item.label }}</span>
      </a>
      }
    </div>
    }
  </div>
</mat-toolbar>
<mat-sidenav-container class="h-screen">
  <!-- Sidebar -->
  <mat-sidenav
    #drawer
    [mode]="isMobile() ? 'over' : 'side'"
    [opened]="sidebarOpen() && !!activeNavItem()?.sideNavItems?.length"
    class="custom-sidenav"
  >
    @if (activeNavItem()?.sideNavItems?.length) {
    <mat-nav-list class="bg-white h-screen">
      @for (item of activeNavItem()?.sideNavItems; track item.route) {
      <a mat-list-item [routerLink]="item.route">
        <div class="flex items-center gap-1 w-full">
          <mat-icon>{{ item.icon }}</mat-icon>
          <span>{{ item.label }}</span>
        </div>
      </a>
      }
    </mat-nav-list>
    }
  </mat-sidenav>

  <!-- Main content -->
  <mat-sidenav-content class="bg-gray-100">
    <section class="p-4">
      <router-outlet></router-outlet>
    </section>
  </mat-sidenav-content>
</mat-sidenav-container>
