/* styles.scss */

@use "@angular/material" as mat;

@use "./styles/fonts.scss" as *;

@tailwind base;
@tailwind components;
@tailwind utilities;

// Define your palette and theme
html {
  @include mat.theme(
    (
      color: (
        primary: mat.$violet-palette,
        tertiary: mat.$orange-palette,
        theme-type: light,
      ),
      typography: "yekan",
      density: 0,
      shape: (
        borderRadius: 0px,
      ),
    )
  );
}

// CUSTOM TAILWIND STYLES
@layer utilities {
  .ltr {
    direction: ltr;
  }
}

/* Apply custom button color globally */
// button,
// .mat-mdc-button,
// .mat-mdc-raised-button,
// .mat-mdc-unelevated-button,
// .mat-mdc-outlined-button,
// .mat-mdc-fab,
// .mat-mdc-mini-fab {
//   background-color: rgb(195, 131, 255) !important;
//   color: white !important;
// }

// /* Optional: If you want hover states */
// button:hover,
// .mat-mdc-button:hover,
// .mat-mdc-raised-button:hover,
// .mat-mdc-unelevated-button:hover,
// .mat-mdc-outlined-button:hover,
// .mat-mdc-fab:hover,
// .mat-mdc-mini-fab:hover {
//   background-color: rgba(195, 131, 255, 0.9) !important;
// }

@layer components {
  .c-primary {
    @apply text-black;
    background-color: rgb(195, 131, 255) !important;
  }

  .c-primary:hover {
    background-color: rgba(195, 131, 255, 0.9) !important;
  }

  .c-success {
    @apply text-black;
    background-color: rgb(102, 187, 106) !important; /* greenish */
  }

  .c-success:hover {
    background-color: rgba(102, 187, 106, 0.9) !important;
  }

  .c-info {
    @apply text-black;
    background-color: rgb(79, 195, 247) !important; /* blueish */
  }

  .c-info:hover {
    background-color: rgba(79, 195, 247, 0.9) !important;
  }

  .c-warning {
    @apply text-black;
    background-color: rgb(255, 202, 40) !important; /* yellowish */
  }

  .c-warning:hover {
    background-color: rgba(255, 202, 40, 0.9) !important;
  }

  .c-error {
    @apply text-black;
    background-color: rgb(239, 83, 80) !important; /* reddish */
  }

  .c-error:hover {
    background-color: rgba(239, 83, 80, 0.9) !important;
  }
}
